# Environments
venv/

# Datasets and Images
data/

# Python Cache
__pycache__/
*.pyc

# IDEs
.vscode/

# Not ignored files
!src/data/

aadhar_card
colab
outputs
reports
tools/crop_cards.py
tools/
staging_yolo_dataset